# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log* 
ssl/*
tests/reports
tests/screenshots
tests/test-results
docs/images
scp-commit.sh

node_modules
downloads
dist
dist-ssr
*.local
.firebaserc
.env
.env.*
!.env.example
.*/
scripts/*
tools/*

# Editor directories and files
.vscode/*
.history/*
public/images/game/*
!.vscode/extensions.json
.idea

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ini
dist.zip
